# Objective

Develop a minimum viable model that can predict which direction a stock will go

## The Data

### Input Variables

1. Sentiment
    - Bullish, Bearish, Total_compound
2. Financial
3. Technical

### Target Variable

1. 1-day price direction
2. 2-day price direction

# Import Libraries

In [56]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

import requests
import json
import datetime

# Cleaning the Data

In [57]:
# Import data and convert date column to datetime datatype
data = pd.read_csv('historic_sentiment_analysis.csv')
data['date'] = pd.to_datetime(data['date'])

In [58]:
data.head()

,stock,Bearish,Neutral,Bullish,Total_Compound,date,assetType,assetMainType,cusip,symbol,...,bookValuePerShare,shortIntToFloat,shortIntDayToCover,divGrowthRate3Year,dividendPayAmount,dividendPayDate,beta,vol1DayAvg,vol10DayAvg,vol3MonthAvg
0,CLOV,0.036,0.749,0.215,0.328,2021-06-03,EQUITY,EQUITY,18914F103,CLOV,...,0.0,0.0,0.0,0.0,0.00,,0.00000,13468700.0,13468699.0,4.771102e+08
1,CLNE,0.017,0.789,0.194,0.398,2021-06-03,EQUITY,EQUITY,184499101,CLNE,...,0.0,0.0,0.0,0.0,0.00,,1.84330,5293610.0,5293614.0,1.434198e+08
2,TLRY,0.117,0.786,0.097,0.018,2021-06-03,EQUITY,EQUITY,88688T100,TLRY,...,0.0,0.0,0.0,0.0,0.00,,0.00000,28527700.0,28527703.0,4.933556e+08
3,AAPL,0.080,0.720,0.200,0.174,2021-06-03,EQUITY,EQUITY,37833100,AAPL,...,0.0,0.0,0.0,0.0,0.22,00:00.0,1.20359,73329560.0,73329559.0,2.016039e+09
4,WKHS,0.119,0.764,0.117,-0.019,2021-06-03,EQUITY,EQUITY,98138J206,WKHS,...,0.0,0.0,0.0,0.0,0.00,,2.63773,11332520.0,11332520.0,2.795409e+08

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 100 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               335 non-null    object
 1   Bearish                             335 non-null    float64
 2   Neutral                             335 non-null    float64
 3   Bullish                             335 non-null    float64
 4   Total_Compound                      335 non-null    float64
 5   date                                335 non-null    datetime64[ns]
 6   assetType                           335 non-null    object
 7   assetMainType                       335 non-null    object
 8   cusip                               335 non-null    object
 9   symbol                              335 non-null    object
 10  description                         335 non-null    object
 11  bidPrice                            335 non-null    float64
 12  bidSize                             335 non-null    int64
 13  bidId                               335 non-null    object
 14  askPrice                            335 non-null    float64
 15  askSize                             335 non-null    int64
 16  askId                               335 non-null    object
 17  lastPrice                           335 non-null    float64
 18  lastSize                            335 non-null    int64
 19  lastId                              335 non-null    object
 20  openPrice                           335 non-null    float64
 21  highPrice                           335 non-null    float64
 22  lowPrice                            335 non-null    float64
 23  bidTick                             335 non-null    object
 24  closePrice                          335 non-null    float64
 25  netChange                           335 non-null    float64
 26  totalVolume                         335 non-null    int64
 27  quoteTimeInLong                     335 non-null    float64
 28  tradeTimeInLong                     335 non-null    float64
 29  mark                                335 non-null    float64
 30  exchange                            335 non-null    object
 31  exchangeName                        335 non-null    object
 32  marginable                          335 non-null    bool
 33  shortable                           335 non-null    bool
 34  volatility                          335 non-null    float64
 35  digits                              335 non-null    int64
 36  52WkHigh                            335 non-null    float64
 37  52WkLow                             335 non-null    float64
 38  nAV                                 335 non-null    float64
 39  peRatio                             335 non-null    float64
 40  divAmount                           335 non-null    float64
 41  divYield                            335 non-null    float64
 42  divDate                             69 non-null     object
 43  securityStatus                      335 non-null    object
 44  regularMarketLastPrice              335 non-null    float64
 45  regularMarketLastSize               335 non-null    int64
 46  regularMarketNetChange              335 non-null    float64
 47  regularMarketTradeTimeInLong        335 non-null    float64
 48  netPercentChangeInDouble            335 non-null    float64
 49  markChangeInDouble                  335 non-null    float64
 50  markPercentChangeInDouble           335 non-null    float64
 51  regularMarketPercentChangeInDouble  335 non-null    float64
 52  delayed                             335 non-null    bool
 53  realtimeEntitled                    335 non-null    bool
 54  symbol.1                            5 non-null      object
 55  high52                              335 non-null    float64
 56  low52                               335 non-null    float64
 57  dividendAmount                      335 non-null    float64
 58  dividendYield                       335 non-null    float64
 59  dividendDate                        335 non-null    object
 60  peRatio.1                           5 non-null      float64
 61  pegRatio                            335 non-null    float64
 62  pbRatio                             335 non-null    float64
 63  prRatio                             335 non-null    float64
 64  pcfRatio                            335 non-null    float64
 65  grossMarginTTM                      335 non-null    float64
 66  grossMarginMRQ                      335 non-null    float64
 67  netProfitMarginTTM                  335 non-null    float64
 68  netProfitMarginMRQ                  335 non-null    float64
 69  operatingMarginTTM                  335 non-null    float64
 70  operatingMarginMRQ                  335 non-null    float64
 71  returnOnEquity                      335 non-null    float64
 72  returnOnAssets                      335 non-null    float64
 73  returnOnInvestment                  335 non-null    float64
 74  quickRatio                          335 non-null    float64
 75  currentRatio                        335 non-null    float64
 76  interestCoverage                    335 non-null    float64
 77  totalDebtToCapital                  335 non-null    float64
 78  ltDebtToEquity                      335 non-null    float64
 79  totalDebtToEquity                   335 non-null    float64
 80  epsTTM                              335 non-null    float64
 81  epsChangePercentTTM                 335 non-null    float64
 82  epsChangeYear                       335 non-null    float64
 83  epsChange                           335 non-null    float64
 84  revChangeYear                       335 non-null    float64
 85  revChangeTTM                        335 non-null    float64
 86  revChangeIn                         335 non-null    float64
 87  sharesOutstanding                   335 non-null    float64
 88  marketCapFloat                      335 non-null    float64
 89  marketCap                           335 non-null    float64
 90  bookValuePerShare                   335 non-null    float64
 91  shortIntToFloat                     335 non-null    float64
 92  shortIntDayToCover                  335 non-null    float64
 93  divGrowthRate3Year                  335 non-null    float64
 94  dividendPayAmount                   335 non-null    float64
 95  dividendPayDate                     335 non-null    object
 96  beta                                335 non-null    float64
 97  vol1DayAvg                          335 non-null    float64
 98  vol10DayAvg                         335 non-null    float64
 99  vol3MonthAvg                        335 non-null    float64
dtypes: bool(4), datetime64[ns](1), float64(72), int64(6), object(17)
memory usage: 252.7+ KB

## Unnecessary Columns

Let's dig into dividend data.

In [60]:
data[['divYield', 'divAmount', 'divDate', 'dividendYield', 'dividendAmount', 'dividendDate']].head(10)

   divYield  divAmount  divDate  dividendYield  dividendAmount dividendDate
0      0.00       0.00      NaN           0.00            0.00
1      0.00       0.00      NaN           0.00            0.00
2      0.00       0.00      NaN           0.00            0.00
3      0.70       0.88  00:00.0           0.70            0.88      00:00.0
4      0.00       0.00      NaN           0.00            0.00
5      0.00       0.00      NaN           0.00            0.00
6      0.00       0.00      NaN           0.00            0.00
7      0.00       0.00      NaN           0.00            0.00
8      0.71       0.88  00:00.0           0.71            0.88      00:00.0
9      0.09       0.64  00:00.0           0.09            0.64      00:00.0

Most of the values are null/zero values because most stocks don't provide dividends.

Also, there are duplicate columns (ex: divAmount & dividendAmount).

For simplicity, let's consolidate them columns into one as follows:
1. Remove the dividendDate/divDate columns. Keeping this would be redundant
2. Remove divYield column, it contains the same information as divAmount
3. The information from the 6 columns is contained in divAmount:
    - Whether the stock pays a dividend or not
    - How much is paid per stock owned

In [61]:
data.drop(['divYield', 'divDate', 'dividendYield', 'dividendAmount', 'dividendDate', 'dividendPayDate'], axis=1, inplace=True)

Several columns are either identifiers, duplicates or empty, we don't need them for this project

In [62]:
data.drop(['cusip',
           'assetType',
           'description',
           'assetMainType',
           'symbol',
           'securityStatus',
           'symbol.1',
           'bidTick',
           'exchangeName',
           'peRatio.1'], axis=1, inplace=True)

Categorical columns

In [63]:
data.select_dtypes(include='object')

    stock bidId askId lastId exchange
0    CLOV     P     P      P        q
1    CLNE     Q     P      P        q
2    TLRY     P     P      P        q
3    AAPL     P     P      D        q
4    WKHS     P     P      D        q
..    ...   ...   ...    ...      ...
330  CRSR     V     K      D        q
331   AMD     Q     Q      D        q
332  CLNE     Q     Q      D        q
333  AMZN     V     V      D        q
334    ON     Q     P      D        q

[335 rows x 5 columns]

In [64]:
print(data['bidId'].nunique())
print(data['askId'].nunique())
print(data['lastId'].nunique())
print(data['exchange'].nunique())

11
11
10
1

exchange column has only 1 unique value, which would likely not add predictability

In [65]:
data.drop(['exchange'], axis=1, inplace=True)

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 83 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               335 non-null    object
 1   Bearish                             335 non-null    float64
 2   Neutral                             335 non-null    float64
 3   Bullish                             335 non-null    float64
 4   Total_Compound                      335 non-null    float64
 5   date                                335 non-null    datetime64[ns]
 6   bidPrice                            335 non-null    float64
 7   bidSize                             335 non-null    int64
 8   bidId                               335 non-null    object
 9   askPrice                            335 non-null    float64
 10  askSize                             335 non-null    int64
 11  askId                               335 non-null    object
 12  lastPrice                           335 non-null    float64
 13  lastSize                            335 non-null    int64
 14  lastId                              335 non-null    object
 15  openPrice                           335 non-null    float64
 16  highPrice                           335 non-null    float64
 17  lowPrice                            335 non-null    float64
 18  closePrice                          335 non-null    float64
 19  netChange                           335 non-null    float64
 20  totalVolume                         335 non-null    int64
 21  quoteTimeInLong                     335 non-null    float64
 22  tradeTimeInLong                     335 non-null    float64
 23  mark                                335 non-null    float64
 24  marginable                          335 non-null    bool
 25  shortable                           335 non-null    bool
 26  volatility                          335 non-null    float64
 27  digits                              335 non-null    int64
 28  52WkHigh                            335 non-null    float64
 29  52WkLow                             335 non-null    float64
 30  nAV                                 335 non-null    float64
 31  peRatio                             335 non-null    float64
 32  divAmount                           335 non-null    float64
 33  regularMarketLastPrice              335 non-null    float64
 34  regularMarketLastSize               335 non-null    int64
 35  regularMarketNetChange              335 non-null    float64
 36  regularMarketTradeTimeInLong        335 non-null    float64
 37  netPercentChangeInDouble            335 non-null    float64
 38  markChangeInDouble                  335 non-null    float64
 39  markPercentChangeInDouble           335 non-null    float64
 40  regularMarketPercentChangeInDouble  335 non-null    float64
 41  delayed                             335 non-null    bool
 42  realtimeEntitled                    335 non-null    bool
 43  high52                              335 non-null    float64
 44  low52                               335 non-null    float64
 45  pegRatio                            335 non-null    float64
 46  pbRatio                             335 non-null    float64
 47  prRatio                             335 non-null    float64
 48  pcfRatio                            335 non-null    float64
 49  grossMarginTTM                      335 non-null    float64
 50  grossMarginMRQ                      335 non-null    float64
 51  netProfitMarginTTM                  335 non-null    float64
 52  netProfitMarginMRQ                  335 non-null    float64
 53  operatingMarginTTM                  335 non-null    float64
 54  operatingMarginMRQ                  335 non-null    float64
 55  returnOnEquity                      335 non-null    float64
 56  returnOnAssets                      335 non-null    float64
 57  returnOnInvestment                  335 non-null    float64
 58  quickRatio                          335 non-null    float64
 59  currentRatio                        335 non-null    float64
 60  interestCoverage                    335 non-null    float64
 61  totalDebtToCapital                  335 non-null    float64
 62  ltDebtToEquity                      335 non-null    float64
 63  totalDebtToEquity                   335 non-null    float64
 64  epsTTM                              335 non-null    float64
 65  epsChangePercentTTM                 335 non-null    float64
 66  epsChangeYear                       335 non-null    float64
 67  epsChange                           335 non-null    float64
 68  revChangeYear                       335 non-null    float64
 69  revChangeTTM                        335 non-null    float64
 70  revChangeIn                         335 non-null    float64
 71  sharesOutstanding                   335 non-null    float64
 72  marketCapFloat                      335 non-null    float64
 73  marketCap                           335 non-null    float64
 74  bookValuePerShare                   335 non-null    float64
 75  shortIntToFloat                     335 non-null    float64
 76  shortIntDayToCover                  335 non-null    float64
 77  divGrowthRate3Year                  335 non-null    float64
 78  dividendPayAmount                   335 non-null    float64
 79  beta                                335 non-null    float64
 80  vol1DayAvg                          335 non-null    float64
 81  vol10DayAvg                         335 non-null    float64
 82  vol3MonthAvg                        335 non-null    float64
dtypes: bool(4), datetime64[ns](1), float64(68), int64(6), object(4)
memory usage: 208.2+ KB

## Boolean Values

In [67]:
data.select_dtypes(include='boolean')

     marginable  shortable  delayed  realtimeEntitled
0          True       True     True             False
1          True       True     True             False
2          True       True     True             False
3          True       True     True             False
4          True       True     True             False
..          ...        ...      ...               ...
330        True       True     True             False
331        True       True     True             False
332        True       True     True             False
333        True       True     True             False
334        True       True     True             False

[335 rows x 4 columns]

In [68]:
print(data['marginable'].nunique())
print(data['shortable'].nunique())
print(data['delayed'].nunique())
print(data['realtimeEntitled'].nunique())

1
1
1
1

None of these columns provide any valuable information

In [69]:
data.drop(['marginable', 'shortable', 'delayed', 'realtimeEntitled'], axis=1, inplace=True, )

In [70]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 79 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               335 non-null    object
 1   Bearish                             335 non-null    float64
 2   Neutral                             335 non-null    float64
 3   Bullish                             335 non-null    float64
 4   Total_Compound                      335 non-null    float64
 5   date                                335 non-null    datetime64[ns]
 6   bidPrice                            335 non-null    float64
 7   bidSize                             335 non-null    int64
 8   bidId                               335 non-null    object
 9   askPrice                            335 non-null    float64
 10  askSize                             335 non-null    int64
 11  askId                               335 non-null    object
 12  lastPrice                           335 non-null    float64
 13  lastSize                            335 non-null    int64
 14  lastId                              335 non-null    object
 15  openPrice                           335 non-null    float64
 16  highPrice                           335 non-null    float64
 17  lowPrice                            335 non-null    float64
 18  closePrice                          335 non-null    float64
 19  netChange                           335 non-null    float64
 20  totalVolume                         335 non-null    int64
 21  quoteTimeInLong                     335 non-null    float64
 22  tradeTimeInLong                     335 non-null    float64
 23  mark                                335 non-null    float64
 24  volatility                          335 non-null    float64
 25  digits                              335 non-null    int64
 26  52WkHigh                            335 non-null    float64
 27  52WkLow                             335 non-null    float64
 28  nAV                                 335 non-null    float64
 29  peRatio                             335 non-null    float64
 30  divAmount                           335 non-null    float64
 31  regularMarketLastPrice              335 non-null    float64
 32  regularMarketLastSize               335 non-null    int64
 33  regularMarketNetChange              335 non-null    float64
 34  regularMarketTradeTimeInLong        335 non-null    float64
 35  netPercentChangeInDouble            335 non-null    float64
 36  markChangeInDouble                  335 non-null    float64
 37  markPercentChangeInDouble           335 non-null    float64
 38  regularMarketPercentChangeInDouble  335 non-null    float64
 39  high52                              335 non-null    float64
 40  low52                               335 non-null    float64
 41  pegRatio                            335 non-null    float64
 42  pbRatio                             335 non-null    float64
 43  prRatio                             335 non-null    float64
 44  pcfRatio                            335 non-null    float64
 45  grossMarginTTM                      335 non-null    float64
 46  grossMarginMRQ                      335 non-null    float64
 47  netProfitMarginTTM                  335 non-null    float64
 48  netProfitMarginMRQ                  335 non-null    float64
 49  operatingMarginTTM                  335 non-null    float64
 50  operatingMarginMRQ                  335 non-null    float64
 51  returnOnEquity                      335 non-null    float64
 52  returnOnAssets                      335 non-null    float64
 53  returnOnInvestment                  335 non-null    float64
 54  quickRatio                          335 non-null    float64
 55  currentRatio                        335 non-null    float64
 56  interestCoverage                    335 non-null    float64
 57  totalDebtToCapital                  335 non-null    float64
 58  ltDebtToEquity                      335 non-null    float64
 59  totalDebtToEquity                   335 non-null    float64
 60  epsTTM                              335 non-null    float64
 61  epsChangePercentTTM                 335 non-null    float64
 62  epsChangeYear                       335 non-null    float64
 63  epsChange                           335 non-null    float64
 64  revChangeYear                       335 non-null    float64
 65  revChangeTTM                        335 non-null    float64
 66  revChangeIn                         335 non-null    float64
 67  sharesOutstanding                   335 non-null    float64
 68  marketCapFloat                      335 non-null    float64
 69  marketCap                           335 non-null    float64
 70  bookValuePerShare                   335 non-null    float64
 71  shortIntToFloat                     335 non-null    float64
 72  shortIntDayToCover                  335 non-null    float64
 73  divGrowthRate3Year                  335 non-null    float64
 74  dividendPayAmount                   335 non-null    float64
 75  beta                                335 non-null    float64
 76  vol1DayAvg                          335 non-null    float64
 77  vol10DayAvg                         335 non-null    float64
 78  vol3MonthAvg                        335 non-null    float64
dtypes: datetime64[ns](1), float64(68), int64(6), object(4)
memory usage: 206.9+ KB

In [71]:
#data = data.transpose(copy=True).drop_duplicates().transpose(copy=True)

## Null Values

In [72]:
data.isna().sum().sum()

0

We're good to go

## Columns with minimal unique values

Variables with a single value in the column will not likely provide any predictability

In [73]:
list(data.columns)

for column in list(data.columns):
    if data[column].nunique() <= 1:
        data.drop(column, axis=1, inplace=True)

# Bring in price data with TDAmeritrade API

In [74]:
# Date range of our dataset
print(data['date'].min().date())
print(data['date'].max().date())
print(data['date'].max().date() - data['date'].min().date())

2021-06-03
2021-07-15
42 days, 0:00:00

Based on the date range of our dataset, our API call should generate about 2 months of price history

In [75]:
api_key = "***REMOVED***"
price_data = pd.DataFrame()

for stock in list(data['stock'].unique()):
    symbol = stock
    url = f'https://api.tdameritrade.com/v1/marketdata/{symbol}/pricehistory?apikey={api_key}&periodType=month&period=2&frequencyType=daily&frequency=1'
    raw_data = requests.get(url).json()
    raw_data = pd.json_normalize(raw_data, record_path=['candles'])
    raw_data.rename(columns = {'datetime': 'date'}, inplace=True)
    raw_data['date'] = pd.to_datetime(raw_data['date'], unit='ms')
    raw_data['date'] = [raw_data['date'][i].date() for i in range(len(raw_data['date']))]
    raw_data['stock'] = [stock for x in range(len(raw_data))]
    price_data = pd.concat([price_data, raw_data], ignore_index=True)
    price_data = price_data[['date', 'stock', 'close']]

In [76]:
# Filter out dates to match those of the 'data' dataframe
filter_ = (price_data['date'] >= data['date'].min().date()) & (price_data['date'] <= data['date'].max().date())
price_data = price_data[filter_]
price_data.reset_index(inplace=True)
price_data.drop('index', axis=1, inplace=True)

In [77]:
print(price_data.shape)
print(data.shape)

(1050, 3)
(335, 72)

In [121]:
price_data[['date', 'close']]

            date  close
0     2021-06-03   8.94
1     2021-06-04   9.00
2     2021-06-07  11.92
3     2021-06-08  22.15
4     2021-06-09  16.92
...          ...    ...
1045  2021-07-09  12.76
1046  2021-07-12  13.30
1047  2021-07-13  12.47
1048  2021-07-14  11.80
1049  2021-07-15  10.65

[1050 rows x 2 columns]

In [118]:
price_data['close'].diff(periods=1)

0         NaN
1        0.06
2        2.92
3       10.23
4       -5.23
        ...
1045     0.30
1046     0.54
1047    -0.83
1048    -0.67
1049    -1.15
Name: close, Length: 1050, dtype: float64

In [114]:
# Instantiate combined dataframe
column_list = list(price_data.columns) + list(data.columns)
combined_df = pd.DataFrame(columns=column_list)

# Iterate through both dataframes to match date and stock and append matching rows into combined_df
for ind in price_data.index:
    for indx in data.index:
        if price_data['date'][ind] == data['date'][indx] and price_data['stock'][ind] == data['stock'][indx]:
            series_list = [pd.to_datetime(price_data['date'][ind]), price_data['stock'][ind], price_data['close'][ind]] + list(data.iloc[indx])
            combined_df = combined_df.append(pd.Series(
                    series_list,
                    index=column_list
                ), ignore_index=True)

combined_df

,date,stock,close,stock,Bearish,Neutral,Bullish,Total_Compound,date,bidPrice,...,revChangeIn,sharesOutstanding,marketCapFloat,marketCap,bookValuePerShare,dividendPayAmount,beta,vol1DayAvg,vol10DayAvg,vol3MonthAvg
0,2021-06-03,CLOV,8.94,CLOV,0.036,0.749,0.215,0.328,2021-06-03,8.98,...,0.00000,1.482792e+08,112.09820,3566.803,0.00000,0.00,0.00000,13468700.0,13468699.0,477110250.0
1,2021-06-04,CLOV,9.00,CLOV,0.040,0.780,0.180,0.231,2021-06-04,9.08,...,0.00000,1.482792e+08,112.09820,3648.424,0.00000,0.00,0.00000,17420340.0,17420338.0,483602320.0
2,2021-06-07,CLOV,11.92,CLOV,0.027,0.815,0.158,0.195,2021-06-07,11.34,...,0.00000,1.482792e+08,112.09820,3672.910,0.00000,0.00,0.00000,18091290.0,18091287.0,479744190.0
3,2021-06-08,CLOV,22.15,CLOV,0.065,0.766,0.168,0.142,2021-06-08,19.69,...,0.00000,1.482792e+08,112.09820,4864.565,0.00000,0.00,0.00000,29882120.0,29882121.0,516623290.0
4,2021-06-09,CLOV,16.92,CLOV,0.100,0.744,0.157,0.098,2021-06-09,19.10,...,0.00000,1.482792e+08,112.09820,9039.439,0.00000,0.00,0.00000,102859380.0,102859375.0,757130210.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,2021-06-28,PLAY,40.39,PLAY,0.089,0.652,0.259,0.298,2021-06-28,39.69,...,127.13380,4.815779e+07,38.67046,1959.540,0.00000,0.16,2.08731,1279350.0,1279354.0,29982750.0
271,2021-06-30,BBBY,33.29,BBBY,0.274,0.542,0.184,-0.141,2021-06-30,33.28,...,0.02555,1.066326e+08,105.04150,3189.383,0.00000,0.17,1.86064,5693270.0,5693271.0,155292130.0
272,2021-07-01,MU,80.11,MU,0.138,0.766,0.096,-0.048,2021-07-01,80.53,...,19.01860,1.121416e+09,1119.57600,95297.890,24.23185,0.00,1.25393,22202150.0,22202149.0,400073040.0
273,2021-07-09,PUBM,35.41,PUBM,0.051,0.798,0.151,0.152,2021-07-09,35.14,...,0.00000,8.967003e+06,7.44041,1723.399,0.00000,0.00,0.00000,1297940.0,1297940.0,24056870.0
274,2021-07-12,ASTS,13.30,ASTS,0.021,0.802,0.177,0.373,2021-07-12,13.11,...,0.00000,5.172970e+07,161.73450,2316.319,0.00000,0.00,0.00000,7169470.0,7170754.0,65486690.0

# Prepare for Modeling