# Objective

Develop a minimum viable model that can predict which direction a stock will go

## The Data

### Input Variables

1. Sentiment
    - Bullish, Bearish, Total_compound
2. Financial
3. Technical

### Target Variable

1. 1-day price direction
2. 2-day price direction

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

import requests
import json

# Cleaning the Data

In [2]:
# Import data and convert date column to datetime datatype
data = pd.read_csv('historic_sentiment_analysis.csv')
data['date'] = pd.to_datetime(data['date'])

In [3]:
data.head()

,stock,Bearish,Neutral,Bullish,Total_Compound,date,assetType,assetMainType,cusip,symbol,...,bookValuePerShare,shortIntToFloat,shortIntDayToCover,divGrowthRate3Year,dividendPayAmount,dividendPayDate,beta,vol1DayAvg,vol10DayAvg,vol3MonthAvg
0,CLOV,0.036,0.749,0.215,0.328,2021-06-03,EQUITY,EQUITY,18914F103,CLOV,...,0.0,0.0,0.0,0.0,0.00,,0.00000,13468700.0,13468699.0,4.771102e+08
1,CLNE,0.017,0.789,0.194,0.398,2021-06-03,EQUITY,EQUITY,184499101,CLNE,...,0.0,0.0,0.0,0.0,0.00,,1.84330,5293610.0,5293614.0,1.434198e+08
2,TLRY,0.117,0.786,0.097,0.018,2021-06-03,EQUITY,EQUITY,88688T100,TLRY,...,0.0,0.0,0.0,0.0,0.00,,0.00000,28527700.0,28527703.0,4.933556e+08
3,AAPL,0.080,0.720,0.200,0.174,2021-06-03,EQUITY,EQUITY,37833100,AAPL,...,0.0,0.0,0.0,0.0,0.22,00:00.0,1.20359,73329560.0,73329559.0,2.016039e+09
4,WKHS,0.119,0.764,0.117,-0.019,2021-06-03,EQUITY,EQUITY,98138J206,WKHS,...,0.0,0.0,0.0,0.0,0.00,,2.63773,11332520.0,11332520.0,2.795409e+08

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 100 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               335 non-null    object
 1   Bearish                             335 non-null    float64
 2   Neutral                             335 non-null    float64
 3   Bullish                             335 non-null    float64
 4   Total_Compound                      335 non-null    float64
 5   date                                335 non-null    datetime64[ns]
 6   assetType                           335 non-null    object
 7   assetMainType                       335 non-null    object
 8   cusip                               335 non-null    object
 9   symbol                              335 non-null    object
 10  description                         335 non-null    object
 11  bidPrice                            335 non-null    float64
 12  bidSize                             335 non-null    int64
 13  bidId                               335 non-null    object
 14  askPrice                            335 non-null    float64
 15  askSize                             335 non-null    int64
 16  askId                               335 non-null    object
 17  lastPrice                           335 non-null    float64
 18  lastSize                            335 non-null    int64
 19  lastId                              335 non-null    object
 20  openPrice                           335 non-null    float64
 21  highPrice                           335 non-null    float64
 22  lowPrice                            335 non-null    float64
 23  bidTick                             335 non-null    object
 24  closePrice                          335 non-null    float64
 25  netChange                           335 non-null    float64
 26  totalVolume                         335 non-null    int64
 27  quoteTimeInLong                     335 non-null    float64
 28  tradeTimeInLong                     335 non-null    float64
 29  mark                                335 non-null    float64
 30  exchange                            335 non-null    object
 31  exchangeName                        335 non-null    object
 32  marginable                          335 non-null    bool
 33  shortable                           335 non-null    bool
 34  volatility                          335 non-null    float64
 35  digits                              335 non-null    int64
 36  52WkHigh                            335 non-null    float64
 37  52WkLow                             335 non-null    float64
 38  nAV                                 335 non-null    float64
 39  peRatio                             335 non-null    float64
 40  divAmount                           335 non-null    float64
 41  divYield                            335 non-null    float64
 42  divDate                             69 non-null     object
 43  securityStatus                      335 non-null    object
 44  regularMarketLastPrice              335 non-null    float64
 45  regularMarketLastSize               335 non-null    int64
 46  regularMarketNetChange              335 non-null    float64
 47  regularMarketTradeTimeInLong        335 non-null    float64
 48  netPercentChangeInDouble            335 non-null    float64
 49  markChangeInDouble                  335 non-null    float64
 50  markPercentChangeInDouble           335 non-null    float64
 51  regularMarketPercentChangeInDouble  335 non-null    float64
 52  delayed                             335 non-null    bool
 53  realtimeEntitled                    335 non-null    bool
 54  symbol.1                            5 non-null      object
 55  high52                              335 non-null    float64
 56  low52                               335 non-null    float64
 57  dividendAmount                      335 non-null    float64
 58  dividendYield                       335 non-null    float64
 59  dividendDate                        335 non-null    object
 60  peRatio.1                           5 non-null      float64
 61  pegRatio                            335 non-null    float64
 62  pbRatio                             335 non-null    float64
 63  prRatio                             335 non-null    float64
 64  pcfRatio                            335 non-null    float64
 65  grossMarginTTM                      335 non-null    float64
 66  grossMarginMRQ                      335 non-null    float64
 67  netProfitMarginTTM                  335 non-null    float64
 68  netProfitMarginMRQ                  335 non-null    float64
 69  operatingMarginTTM                  335 non-null    float64
 70  operatingMarginMRQ                  335 non-null    float64
 71  returnOnEquity                      335 non-null    float64
 72  returnOnAssets                      335 non-null    float64
 73  returnOnInvestment                  335 non-null    float64
 74  quickRatio                          335 non-null    float64
 75  currentRatio                        335 non-null    float64
 76  interestCoverage                    335 non-null    float64
 77  totalDebtToCapital                  335 non-null    float64
 78  ltDebtToEquity                      335 non-null    float64
 79  totalDebtToEquity                   335 non-null    float64
 80  epsTTM                              335 non-null    float64
 81  epsChangePercentTTM                 335 non-null    float64
 82  epsChangeYear                       335 non-null    float64
 83  epsChange                           335 non-null    float64
 84  revChangeYear                       335 non-null    float64
 85  revChangeTTM                        335 non-null    float64
 86  revChangeIn                         335 non-null    float64
 87  sharesOutstanding                   335 non-null    float64
 88  marketCapFloat                      335 non-null    float64
 89  marketCap                           335 non-null    float64
 90  bookValuePerShare                   335 non-null    float64
 91  shortIntToFloat                     335 non-null    float64
 92  shortIntDayToCover                  335 non-null    float64
 93  divGrowthRate3Year                  335 non-null    float64
 94  dividendPayAmount                   335 non-null    float64
 95  dividendPayDate                     335 non-null    object
 96  beta                                335 non-null    float64
 97  vol1DayAvg                          335 non-null    float64
 98  vol10DayAvg                         335 non-null    float64
 99  vol3MonthAvg                        335 non-null    float64
dtypes: bool(4), datetime64[ns](1), float64(72), int64(6), object(17)
memory usage: 252.7+ KB

## Unnecessary Columns

Let's dig into dividend data.

In [5]:
data[['divYield', 'divAmount', 'divDate', 'dividendYield', 'dividendAmount', 'dividendDate']].head(10)

   divYield  divAmount  divDate  dividendYield  dividendAmount dividendDate
0      0.00       0.00      NaN           0.00            0.00
1      0.00       0.00      NaN           0.00            0.00
2      0.00       0.00      NaN           0.00            0.00
3      0.70       0.88  00:00.0           0.70            0.88      00:00.0
4      0.00       0.00      NaN           0.00            0.00
5      0.00       0.00      NaN           0.00            0.00
6      0.00       0.00      NaN           0.00            0.00
7      0.00       0.00      NaN           0.00            0.00
8      0.71       0.88  00:00.0           0.71            0.88      00:00.0
9      0.09       0.64  00:00.0           0.09            0.64      00:00.0

Most of the values are null/zero values because most stocks don't provide dividends.

Also, there are duplicate columns (ex: divAmount & dividendAmount).

For simplicity, let's consolidate them columns into one as follows:
1. Remove the dividendDate/divDate columns. Keeping this would be redundant
2. Remove divYield column, it contains the same information as divAmount
3. The information from the 6 columns is contained in divAmount:
    - Whether the stock pays a dividend or not
    - How much is paid per stock owned

In [6]:
data.drop(['divYield', 'divDate', 'dividendYield', 'dividendAmount', 'dividendDate', 'dividendPayDate'], axis=1, inplace=True)

Several columns are either identifiers, duplicates or empty, we don't need them for this project

In [7]:
data.drop(['cusip',
           'assetType',
           'description',
           'assetMainType',
           'symbol',
           'securityStatus',
           'symbol.1',
           'bidTick',
           'exchangeName',
           'peRatio.1'], axis=1, inplace=True)

Categorical columns

In [8]:
data.select_dtypes(include='object')

    stock bidId askId lastId exchange
0    CLOV     P     P      P        q
1    CLNE     Q     P      P        q
2    TLRY     P     P      P        q
3    AAPL     P     P      D        q
4    WKHS     P     P      D        q
..    ...   ...   ...    ...      ...
330  CRSR     V     K      D        q
331   AMD     Q     Q      D        q
332  CLNE     Q     Q      D        q
333  AMZN     V     V      D        q
334    ON     Q     P      D        q

[335 rows x 5 columns]

In [9]:
print(data['bidId'].nunique())
print(data['askId'].nunique())
print(data['lastId'].nunique())
print(data['exchange'].nunique())

11
11
10
1

exchange column has only 1 unique value, which would likely not add predictability

In [10]:
data.drop(['exchange'], axis=1, inplace=True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 83 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               335 non-null    object
 1   Bearish                             335 non-null    float64
 2   Neutral                             335 non-null    float64
 3   Bullish                             335 non-null    float64
 4   Total_Compound                      335 non-null    float64
 5   date                                335 non-null    datetime64[ns]
 6   bidPrice                            335 non-null    float64
 7   bidSize                             335 non-null    int64
 8   bidId                               335 non-null    object
 9   askPrice                            335 non-null    float64
 10  askSize                             335 non-null    int64
 11  askId                               335 non-null    object
 12  lastPrice                           335 non-null    float64
 13  lastSize                            335 non-null    int64
 14  lastId                              335 non-null    object
 15  openPrice                           335 non-null    float64
 16  highPrice                           335 non-null    float64
 17  lowPrice                            335 non-null    float64
 18  closePrice                          335 non-null    float64
 19  netChange                           335 non-null    float64
 20  totalVolume                         335 non-null    int64
 21  quoteTimeInLong                     335 non-null    float64
 22  tradeTimeInLong                     335 non-null    float64
 23  mark                                335 non-null    float64
 24  marginable                          335 non-null    bool
 25  shortable                           335 non-null    bool
 26  volatility                          335 non-null    float64
 27  digits                              335 non-null    int64
 28  52WkHigh                            335 non-null    float64
 29  52WkLow                             335 non-null    float64
 30  nAV                                 335 non-null    float64
 31  peRatio                             335 non-null    float64
 32  divAmount                           335 non-null    float64
 33  regularMarketLastPrice              335 non-null    float64
 34  regularMarketLastSize               335 non-null    int64
 35  regularMarketNetChange              335 non-null    float64
 36  regularMarketTradeTimeInLong        335 non-null    float64
 37  netPercentChangeInDouble            335 non-null    float64
 38  markChangeInDouble                  335 non-null    float64
 39  markPercentChangeInDouble           335 non-null    float64
 40  regularMarketPercentChangeInDouble  335 non-null    float64
 41  delayed                             335 non-null    bool
 42  realtimeEntitled                    335 non-null    bool
 43  high52                              335 non-null    float64
 44  low52                               335 non-null    float64
 45  pegRatio                            335 non-null    float64
 46  pbRatio                             335 non-null    float64
 47  prRatio                             335 non-null    float64
 48  pcfRatio                            335 non-null    float64
 49  grossMarginTTM                      335 non-null    float64
 50  grossMarginMRQ                      335 non-null    float64
 51  netProfitMarginTTM                  335 non-null    float64
 52  netProfitMarginMRQ                  335 non-null    float64
 53  operatingMarginTTM                  335 non-null    float64
 54  operatingMarginMRQ                  335 non-null    float64
 55  returnOnEquity                      335 non-null    float64
 56  returnOnAssets                      335 non-null    float64
 57  returnOnInvestment                  335 non-null    float64
 58  quickRatio                          335 non-null    float64
 59  currentRatio                        335 non-null    float64
 60  interestCoverage                    335 non-null    float64
 61  totalDebtToCapital                  335 non-null    float64
 62  ltDebtToEquity                      335 non-null    float64
 63  totalDebtToEquity                   335 non-null    float64
 64  epsTTM                              335 non-null    float64
 65  epsChangePercentTTM                 335 non-null    float64
 66  epsChangeYear                       335 non-null    float64
 67  epsChange                           335 non-null    float64
 68  revChangeYear                       335 non-null    float64
 69  revChangeTTM                        335 non-null    float64
 70  revChangeIn                         335 non-null    float64
 71  sharesOutstanding                   335 non-null    float64
 72  marketCapFloat                      335 non-null    float64
 73  marketCap                           335 non-null    float64
 74  bookValuePerShare                   335 non-null    float64
 75  shortIntToFloat                     335 non-null    float64
 76  shortIntDayToCover                  335 non-null    float64
 77  divGrowthRate3Year                  335 non-null    float64
 78  dividendPayAmount                   335 non-null    float64
 79  beta                                335 non-null    float64
 80  vol1DayAvg                          335 non-null    float64
 81  vol10DayAvg                         335 non-null    float64
 82  vol3MonthAvg                        335 non-null    float64
dtypes: bool(4), datetime64[ns](1), float64(68), int64(6), object(4)
memory usage: 208.2+ KB

## Boolean Values

In [12]:
data.select_dtypes(include='boolean')

     marginable  shortable  delayed  realtimeEntitled
0          True       True     True             False
1          True       True     True             False
2          True       True     True             False
3          True       True     True             False
4          True       True     True             False
..          ...        ...      ...               ...
330        True       True     True             False
331        True       True     True             False
332        True       True     True             False
333        True       True     True             False
334        True       True     True             False

[335 rows x 4 columns]

In [13]:
print(data['marginable'].nunique())
print(data['shortable'].nunique())
print(data['delayed'].nunique())
print(data['realtimeEntitled'].nunique())

1
1
1
1

None of these columns provide any valuable information

In [14]:
data.drop(['marginable', 'shortable', 'delayed', 'realtimeEntitled'], axis=1, inplace=True, )

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 79 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               335 non-null    object
 1   Bearish                             335 non-null    float64
 2   Neutral                             335 non-null    float64
 3   Bullish                             335 non-null    float64
 4   Total_Compound                      335 non-null    float64
 5   date                                335 non-null    datetime64[ns]
 6   bidPrice                            335 non-null    float64
 7   bidSize                             335 non-null    int64
 8   bidId                               335 non-null    object
 9   askPrice                            335 non-null    float64
 10  askSize                             335 non-null    int64
 11  askId                               335 non-null    object
 12  lastPrice                           335 non-null    float64
 13  lastSize                            335 non-null    int64
 14  lastId                              335 non-null    object
 15  openPrice                           335 non-null    float64
 16  highPrice                           335 non-null    float64
 17  lowPrice                            335 non-null    float64
 18  closePrice                          335 non-null    float64
 19  netChange                           335 non-null    float64
 20  totalVolume                         335 non-null    int64
 21  quoteTimeInLong                     335 non-null    float64
 22  tradeTimeInLong                     335 non-null    float64
 23  mark                                335 non-null    float64
 24  volatility                          335 non-null    float64
 25  digits                              335 non-null    int64
 26  52WkHigh                            335 non-null    float64
 27  52WkLow                             335 non-null    float64
 28  nAV                                 335 non-null    float64
 29  peRatio                             335 non-null    float64
 30  divAmount                           335 non-null    float64
 31  regularMarketLastPrice              335 non-null    float64
 32  regularMarketLastSize               335 non-null    int64
 33  regularMarketNetChange              335 non-null    float64
 34  regularMarketTradeTimeInLong        335 non-null    float64
 35  netPercentChangeInDouble            335 non-null    float64
 36  markChangeInDouble                  335 non-null    float64
 37  markPercentChangeInDouble           335 non-null    float64
 38  regularMarketPercentChangeInDouble  335 non-null    float64
 39  high52                              335 non-null    float64
 40  low52                               335 non-null    float64
 41  pegRatio                            335 non-null    float64
 42  pbRatio                             335 non-null    float64
 43  prRatio                             335 non-null    float64
 44  pcfRatio                            335 non-null    float64
 45  grossMarginTTM                      335 non-null    float64
 46  grossMarginMRQ                      335 non-null    float64
 47  netProfitMarginTTM                  335 non-null    float64
 48  netProfitMarginMRQ                  335 non-null    float64
 49  operatingMarginTTM                  335 non-null    float64
 50  operatingMarginMRQ                  335 non-null    float64
 51  returnOnEquity                      335 non-null    float64
 52  returnOnAssets                      335 non-null    float64
 53  returnOnInvestment                  335 non-null    float64
 54  quickRatio                          335 non-null    float64
 55  currentRatio                        335 non-null    float64
 56  interestCoverage                    335 non-null    float64
 57  totalDebtToCapital                  335 non-null    float64
 58  ltDebtToEquity                      335 non-null    float64
 59  totalDebtToEquity                   335 non-null    float64
 60  epsTTM                              335 non-null    float64
 61  epsChangePercentTTM                 335 non-null    float64
 62  epsChangeYear                       335 non-null    float64
 63  epsChange                           335 non-null    float64
 64  revChangeYear                       335 non-null    float64
 65  revChangeTTM                        335 non-null    float64
 66  revChangeIn                         335 non-null    float64
 67  sharesOutstanding                   335 non-null    float64
 68  marketCapFloat                      335 non-null    float64
 69  marketCap                           335 non-null    float64
 70  bookValuePerShare                   335 non-null    float64
 71  shortIntToFloat                     335 non-null    float64
 72  shortIntDayToCover                  335 non-null    float64
 73  divGrowthRate3Year                  335 non-null    float64
 74  dividendPayAmount                   335 non-null    float64
 75  beta                                335 non-null    float64
 76  vol1DayAvg                          335 non-null    float64
 77  vol10DayAvg                         335 non-null    float64
 78  vol3MonthAvg                        335 non-null    float64
dtypes: datetime64[ns](1), float64(68), int64(6), object(4)
memory usage: 206.9+ KB

In [16]:
#data = data.transpose(copy=True).drop_duplicates().transpose(copy=True)

## Null Values

In [17]:
data.isna().sum().sum()

0

We're good to go

## Columns with minimal unique values

Variables with a single value in the column will not likely provide any predictability

In [18]:
list(data.columns)

for column in list(data.columns):
    if data[column].nunique() <= 1:
        data.drop(column, axis=1, inplace=True)

# Bring in price data with TDAmeritrade API

In [53]:
# Date range of our dataset
print(data['date'].min())
print(data['date'].max())
print(data['date'].max() - data['date'].min())

2021-06-03 00:00:00
2021-07-15 00:00:00
42 days 00:00:00

In [51]:
api_key = "***REMOVED***"
price_data = pd.DataFrame()

for stock in list(data['stock'].unique()):
    symbol = stock
    url = f'https://api.tdameritrade.com/v1/marketdata/{symbol}/pricehistory?apikey={api_key}&periodType=month&period=2&frequencyType=daily&frequency=1'
    raw_data = requests.get(url).json()
    raw_data = pd.json_normalize(raw_data, record_path=['candles'])
    raw_data['datetime'] = pd.to_datetime(raw_data['datetime'], unit='ms')
    raw_data['stock'] = [stock for x in range(len(raw_data))]
    price_data = pd.concat([price_data, raw_data], ignore_index=True)

price_data

        open    high     low  close    volume            datetime stock
0      7.352   7.685   7.185   7.47   7968626 2021-05-14 05:00:00  CLOV
1      7.590   7.930   6.590   6.82  38561966 2021-05-17 05:00:00  CLOV
2      6.770   7.200   6.600   6.97  16185710 2021-05-18 05:00:00  CLOV
3      6.740   6.910   6.519   6.84   9210396 2021-05-19 05:00:00  CLOV
4      6.870   7.180   6.760   7.13   9340391 2021-05-20 05:00:00  CLOV
...      ...     ...     ...    ...       ...                 ...   ...
1465  11.850  12.690  11.550  12.46   1629803 2021-07-08 05:00:00  ASTS
1466  12.590  12.850  12.050  12.76   1625977 2021-07-09 05:00:00  ASTS
1467  14.040  14.240  12.810  13.30   4519166 2021-07-12 05:00:00  ASTS
1468  13.020  13.200  12.250  12.47   2175529 2021-07-13 05:00:00  ASTS
1469  12.370  12.829  11.740  11.80   1721091 2021-07-14 05:00:00  ASTS

[1470 rows x 7 columns]

In [52]:
price_data[price_data['stock'] == 'AAPL']

        open     high       low   close     volume            datetime stock
126  126.250  127.890  125.8500  127.45   81917951 2021-05-14 05:00:00  AAPL
127  126.820  126.930  125.1700  126.27   74244624 2021-05-17 05:00:00  AAPL
128  126.560  126.990  124.7800  124.85   63342929 2021-05-18 05:00:00  AAPL
129  123.160  124.915  122.8600  124.69   92611989 2021-05-19 05:00:00  AAPL
130  125.230  127.720  125.1000  127.31   76857123 2021-05-20 05:00:00  AAPL
131  127.820  128.000  125.2100  125.43   79295436 2021-05-21 05:00:00  AAPL
132  126.010  127.940  125.9400  127.10   63092945 2021-05-24 05:00:00  AAPL
133  127.820  128.320  126.3200  126.90   72009482 2021-05-25 05:00:00  AAPL
134  126.955  127.390  126.4200  126.85   56575920 2021-05-26 05:00:00  AAPL
135  126.440  127.640  125.0800  125.28   94625601 2021-05-27 05:00:00  AAPL
136  125.570  125.800  124.5500  124.61   71311109 2021-05-28 05:00:00  AAPL
137  125.080  125.350  123.9400  124.28   67637118 2021-06-01 05:00:00  AAPL
138  124.280  125.240  124.0500  125.06   59278862 2021-06-02 05:00:00  AAPL
139  124.680  124.850  123.1300  123.54   76229170 2021-06-03 05:00:00  AAPL
140  124.070  126.160  123.8500  125.89   75169343 2021-06-04 05:00:00  AAPL
141  126.170  126.320  124.8321  125.90   71057550 2021-06-07 05:00:00  AAPL
142  126.600  128.460  126.2101  126.74   74403774 2021-06-08 05:00:00  AAPL
143  127.210  127.750  126.5200  127.13   56877937 2021-06-09 05:00:00  AAPL
144  127.020  128.190  125.9400  126.11   71186421 2021-06-10 05:00:00  AAPL
145  126.530  127.440  126.1000  127.35   53522373 2021-06-11 05:00:00  AAPL
146  127.820  130.540  127.0700  130.48   96906490 2021-06-14 05:00:00  AAPL
147  129.940  130.600  129.3900  129.64   62746332 2021-06-15 05:00:00  AAPL
148  130.370  130.890  128.4610  130.15   91815026 2021-06-16 05:00:00  AAPL
149  129.800  132.550  129.6500  131.79   96721669 2021-06-17 05:00:00  AAPL
150  130.710  131.510  130.2400  130.46  108953309 2021-06-18 05:00:00  AAPL
151  130.300  132.410  129.2100  132.30   79663316 2021-06-21 05:00:00  AAPL
152  132.130  134.080  131.6200  133.98   74783618 2021-06-22 05:00:00  AAPL
153  133.770  134.320  133.2300  133.70   60214200 2021-06-23 05:00:00  AAPL
154  134.450  134.640  132.9300  133.41   68710998 2021-06-24 05:00:00  AAPL
155  133.460  133.890  132.8100  133.11   70783746 2021-06-25 05:00:00  AAPL
156  133.410  135.245  133.3500  134.78   62111303 2021-06-28 05:00:00  AAPL
157  134.800  136.490  134.3500  136.33   64556081 2021-06-29 05:00:00  AAPL
158  136.170  137.410  135.8700  136.96   63261393 2021-06-30 05:00:00  AAPL
159  136.600  137.330  135.7600  137.27   52485781 2021-07-01 05:00:00  AAPL
160  137.900  140.000  137.7450  139.96   78945572 2021-07-02 05:00:00  AAPL
161  140.070  143.150  140.0700  142.02  108181793 2021-07-06 05:00:00  AAPL
162  143.535  144.890  142.6600  144.57  104911589 2021-07-07 05:00:00  AAPL
163  141.580  144.060  140.6650  143.24  105575458 2021-07-08 05:00:00  AAPL
164  142.750  145.650  142.6522  145.11   99890800 2021-07-09 05:00:00  AAPL
165  146.210  146.320  144.0000  144.50   76299719 2021-07-12 05:00:00  AAPL
166  144.030  147.460  143.6300  145.64  100827099 2021-07-13 05:00:00  AAPL
167  148.100  149.570  147.6800  149.15  127050785 2021-07-14 05:00:00  AAPL