# Objective

Develop a minimum viable model that can predict which direction a stock will go

## The Data

### Input Variables

1. Sentiment
    - Bullish, Bearish, Total_compound
2. Financial
3. Technical

### Target Variable

1. 1-day price direction
2. 2-day price direction

# Import Libraries

In [38]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

import requests
import json

# Cleaning the Data

In [2]:
# Import data and convert date column to datetime datatype
data = pd.read_csv('historic_sentiment_analysis.csv')
data['date'] = pd.to_datetime(data['date'])

In [3]:
data.head()

,stock,Bearish,Neutral,Bullish,Total_Compound,date,assetType,assetMainType,cusip,symbol,...,bookValuePerShare,shortIntToFloat,shortIntDayToCover,divGrowthRate3Year,dividendPayAmount,dividendPayDate,beta,vol1DayAvg,vol10DayAvg,vol3MonthAvg
0,CLOV,0.036,0.749,0.215,0.328,2021-06-03,EQUITY,EQUITY,18914F103,CLOV,...,0.0,0.0,0.0,0.0,0.00,,0.00000,13468700.0,13468699.0,4.771102e+08
1,CLNE,0.017,0.789,0.194,0.398,2021-06-03,EQUITY,EQUITY,184499101,CLNE,...,0.0,0.0,0.0,0.0,0.00,,1.84330,5293610.0,5293614.0,1.434198e+08
2,TLRY,0.117,0.786,0.097,0.018,2021-06-03,EQUITY,EQUITY,88688T100,TLRY,...,0.0,0.0,0.0,0.0,0.00,,0.00000,28527700.0,28527703.0,4.933556e+08
3,AAPL,0.080,0.720,0.200,0.174,2021-06-03,EQUITY,EQUITY,37833100,AAPL,...,0.0,0.0,0.0,0.0,0.22,00:00.0,1.20359,73329560.0,73329559.0,2.016039e+09
4,WKHS,0.119,0.764,0.117,-0.019,2021-06-03,EQUITY,EQUITY,98138J206,WKHS,...,0.0,0.0,0.0,0.0,0.00,,2.63773,11332520.0,11332520.0,2.795409e+08

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 100 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               325 non-null    object
 1   Bearish                             325 non-null    float64
 2   Neutral                             325 non-null    float64
 3   Bullish                             325 non-null    float64
 4   Total_Compound                      325 non-null    float64
 5   date                                325 non-null    datetime64[ns]
 6   assetType                           325 non-null    object
 7   assetMainType                       325 non-null    object
 8   cusip                               325 non-null    object
 9   symbol                              325 non-null    object
 10  description                         325 non-null    object
 11  bidPrice                            325 non-null    float64
 12  bidSize                             325 non-null    int64
 13  bidId                               325 non-null    object
 14  askPrice                            325 non-null    float64
 15  askSize                             325 non-null    int64
 16  askId                               325 non-null    object
 17  lastPrice                           325 non-null    float64
 18  lastSize                            325 non-null    int64
 19  lastId                              325 non-null    object
 20  openPrice                           325 non-null    float64
 21  highPrice                           325 non-null    float64
 22  lowPrice                            325 non-null    float64
 23  bidTick                             325 non-null    object
 24  closePrice                          325 non-null    float64
 25  netChange                           325 non-null    float64
 26  totalVolume                         325 non-null    int64
 27  quoteTimeInLong                     325 non-null    float64
 28  tradeTimeInLong                     325 non-null    float64
 29  mark                                325 non-null    float64
 30  exchange                            325 non-null    object
 31  exchangeName                        325 non-null    object
 32  marginable                          325 non-null    bool
 33  shortable                           325 non-null    bool
 34  volatility                          325 non-null    float64
 35  digits                              325 non-null    int64
 36  52WkHigh                            325 non-null    float64
 37  52WkLow                             325 non-null    float64
 38  nAV                                 325 non-null    float64
 39  peRatio                             325 non-null    float64
 40  divAmount                           325 non-null    float64
 41  divYield                            325 non-null    float64
 42  divDate                             67 non-null     object
 43  securityStatus                      325 non-null    object
 44  regularMarketLastPrice              325 non-null    float64
 45  regularMarketLastSize               325 non-null    int64
 46  regularMarketNetChange              325 non-null    float64
 47  regularMarketTradeTimeInLong        325 non-null    float64
 48  netPercentChangeInDouble            325 non-null    float64
 49  markChangeInDouble                  325 non-null    float64
 50  markPercentChangeInDouble           325 non-null    float64
 51  regularMarketPercentChangeInDouble  325 non-null    float64
 52  delayed                             325 non-null    bool
 53  realtimeEntitled                    325 non-null    bool
 54  symbol.1                            5 non-null      object
 55  high52                              325 non-null    float64
 56  low52                               325 non-null    float64
 57  dividendAmount                      325 non-null    float64
 58  dividendYield                       325 non-null    float64
 59  dividendDate                        325 non-null    object
 60  peRatio.1                           5 non-null      float64
 61  pegRatio                            325 non-null    float64
 62  pbRatio                             325 non-null    float64
 63  prRatio                             325 non-null    float64
 64  pcfRatio                            325 non-null    float64
 65  grossMarginTTM                      325 non-null    float64
 66  grossMarginMRQ                      325 non-null    float64
 67  netProfitMarginTTM                  325 non-null    float64
 68  netProfitMarginMRQ                  325 non-null    float64
 69  operatingMarginTTM                  325 non-null    float64
 70  operatingMarginMRQ                  325 non-null    float64
 71  returnOnEquity                      325 non-null    float64
 72  returnOnAssets                      325 non-null    float64
 73  returnOnInvestment                  325 non-null    float64
 74  quickRatio                          325 non-null    float64
 75  currentRatio                        325 non-null    float64
 76  interestCoverage                    325 non-null    float64
 77  totalDebtToCapital                  325 non-null    float64
 78  ltDebtToEquity                      325 non-null    float64
 79  totalDebtToEquity                   325 non-null    float64
 80  epsTTM                              325 non-null    float64
 81  epsChangePercentTTM                 325 non-null    float64
 82  epsChangeYear                       325 non-null    float64
 83  epsChange                           325 non-null    float64
 84  revChangeYear                       325 non-null    float64
 85  revChangeTTM                        325 non-null    float64
 86  revChangeIn                         325 non-null    float64
 87  sharesOutstanding                   325 non-null    float64
 88  marketCapFloat                      325 non-null    float64
 89  marketCap                           325 non-null    float64
 90  bookValuePerShare                   325 non-null    float64
 91  shortIntToFloat                     325 non-null    float64
 92  shortIntDayToCover                  325 non-null    float64
 93  divGrowthRate3Year                  325 non-null    float64
 94  dividendPayAmount                   325 non-null    float64
 95  dividendPayDate                     325 non-null    object
 96  beta                                325 non-null    float64
 97  vol1DayAvg                          325 non-null    float64
 98  vol10DayAvg                         325 non-null    float64
 99  vol3MonthAvg                        325 non-null    float64
dtypes: bool(4), datetime64[ns](1), float64(72), int64(6), object(17)
memory usage: 245.1+ KB

## Unnecessary Columns

Let's dig into dividend data.

In [5]:
data[['divYield', 'divAmount', 'divDate', 'dividendYield', 'dividendAmount', 'dividendDate']].head(10)

   divYield  divAmount  divDate  dividendYield  dividendAmount dividendDate
0      0.00       0.00      NaN           0.00            0.00
1      0.00       0.00      NaN           0.00            0.00
2      0.00       0.00      NaN           0.00            0.00
3      0.70       0.88  00:00.0           0.70            0.88      00:00.0
4      0.00       0.00      NaN           0.00            0.00
5      0.00       0.00      NaN           0.00            0.00
6      0.00       0.00      NaN           0.00            0.00
7      0.00       0.00      NaN           0.00            0.00
8      0.71       0.88  00:00.0           0.71            0.88      00:00.0
9      0.09       0.64  00:00.0           0.09            0.64      00:00.0

Most of the values are null/zero values because most stocks don't provide dividends.

Also, there are duplicate columns (ex: divAmount & dividendAmount).

For simplicity, let's consolidate them columns into one as follows:
1. Remove the dividendDate/divDate columns. Keeping this would be redundant
2. Remove divYield column, it contains the same information as divAmount
3. The information from the 6 columns is contained in divAmount:
    - Whether the stock pays a dividend or not
    - How much is paid per stock owned

In [6]:
data.drop(['divYield', 'divDate', 'dividendYield', 'dividendAmount', 'dividendDate', 'dividendPayDate'], axis=1, inplace=True)

Several columns are either identifiers, duplicates or empty, we don't need them for this project

In [7]:
data.drop(['cusip',
           'assetType',
           'description',
           'assetMainType',
           'symbol',
           'securityStatus',
           'symbol.1',
           'bidTick',
           'exchangeName',
           'peRatio.1'], axis=1, inplace=True)

Categorical columns

In [8]:
data.select_dtypes(include='object')

    stock bidId askId lastId exchange
0    CLOV     P     P      P        q
1    CLNE     Q     P      P        q
2    TLRY     P     P      P        q
3    AAPL     P     P      D        q
4    WKHS     P     P      D        q
..    ...   ...   ...    ...      ...
320  TSLA     Z     H      D        q
321  WISH     Q     N      D        q
322  MSFT     N     N      D        q
323  AMZN     H     H      D        q
324  CRSR     Z     U      U        q

[325 rows x 5 columns]

In [9]:
print(data['bidId'].nunique())
print(data['askId'].nunique())
print(data['lastId'].nunique())
print(data['exchange'].nunique())

11
11
10
1

exchange column has only 1 unique value, which would likely not add predictability

In [10]:
data.drop(['exchange'], axis=1, inplace=True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 83 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               325 non-null    object
 1   Bearish                             325 non-null    float64
 2   Neutral                             325 non-null    float64
 3   Bullish                             325 non-null    float64
 4   Total_Compound                      325 non-null    float64
 5   date                                325 non-null    datetime64[ns]
 6   bidPrice                            325 non-null    float64
 7   bidSize                             325 non-null    int64
 8   bidId                               325 non-null    object
 9   askPrice                            325 non-null    float64
 10  askSize                             325 non-null    int64
 11  askId                               325 non-null    object
 12  lastPrice                           325 non-null    float64
 13  lastSize                            325 non-null    int64
 14  lastId                              325 non-null    object
 15  openPrice                           325 non-null    float64
 16  highPrice                           325 non-null    float64
 17  lowPrice                            325 non-null    float64
 18  closePrice                          325 non-null    float64
 19  netChange                           325 non-null    float64
 20  totalVolume                         325 non-null    int64
 21  quoteTimeInLong                     325 non-null    float64
 22  tradeTimeInLong                     325 non-null    float64
 23  mark                                325 non-null    float64
 24  marginable                          325 non-null    bool
 25  shortable                           325 non-null    bool
 26  volatility                          325 non-null    float64
 27  digits                              325 non-null    int64
 28  52WkHigh                            325 non-null    float64
 29  52WkLow                             325 non-null    float64
 30  nAV                                 325 non-null    float64
 31  peRatio                             325 non-null    float64
 32  divAmount                           325 non-null    float64
 33  regularMarketLastPrice              325 non-null    float64
 34  regularMarketLastSize               325 non-null    int64
 35  regularMarketNetChange              325 non-null    float64
 36  regularMarketTradeTimeInLong        325 non-null    float64
 37  netPercentChangeInDouble            325 non-null    float64
 38  markChangeInDouble                  325 non-null    float64
 39  markPercentChangeInDouble           325 non-null    float64
 40  regularMarketPercentChangeInDouble  325 non-null    float64
 41  delayed                             325 non-null    bool
 42  realtimeEntitled                    325 non-null    bool
 43  high52                              325 non-null    float64
 44  low52                               325 non-null    float64
 45  pegRatio                            325 non-null    float64
 46  pbRatio                             325 non-null    float64
 47  prRatio                             325 non-null    float64
 48  pcfRatio                            325 non-null    float64
 49  grossMarginTTM                      325 non-null    float64
 50  grossMarginMRQ                      325 non-null    float64
 51  netProfitMarginTTM                  325 non-null    float64
 52  netProfitMarginMRQ                  325 non-null    float64
 53  operatingMarginTTM                  325 non-null    float64
 54  operatingMarginMRQ                  325 non-null    float64
 55  returnOnEquity                      325 non-null    float64
 56  returnOnAssets                      325 non-null    float64
 57  returnOnInvestment                  325 non-null    float64
 58  quickRatio                          325 non-null    float64
 59  currentRatio                        325 non-null    float64
 60  interestCoverage                    325 non-null    float64
 61  totalDebtToCapital                  325 non-null    float64
 62  ltDebtToEquity                      325 non-null    float64
 63  totalDebtToEquity                   325 non-null    float64
 64  epsTTM                              325 non-null    float64
 65  epsChangePercentTTM                 325 non-null    float64
 66  epsChangeYear                       325 non-null    float64
 67  epsChange                           325 non-null    float64
 68  revChangeYear                       325 non-null    float64
 69  revChangeTTM                        325 non-null    float64
 70  revChangeIn                         325 non-null    float64
 71  sharesOutstanding                   325 non-null    float64
 72  marketCapFloat                      325 non-null    float64
 73  marketCap                           325 non-null    float64
 74  bookValuePerShare                   325 non-null    float64
 75  shortIntToFloat                     325 non-null    float64
 76  shortIntDayToCover                  325 non-null    float64
 77  divGrowthRate3Year                  325 non-null    float64
 78  dividendPayAmount                   325 non-null    float64
 79  beta                                325 non-null    float64
 80  vol1DayAvg                          325 non-null    float64
 81  vol10DayAvg                         325 non-null    float64
 82  vol3MonthAvg                        325 non-null    float64
dtypes: bool(4), datetime64[ns](1), float64(68), int64(6), object(4)
memory usage: 202.0+ KB

## Boolean Values

In [12]:
data.select_dtypes(include='boolean')

     marginable  shortable  delayed  realtimeEntitled
0          True       True     True             False
1          True       True     True             False
2          True       True     True             False
3          True       True     True             False
4          True       True     True             False
..          ...        ...      ...               ...
320        True       True     True             False
321        True       True     True             False
322        True       True     True             False
323        True       True     True             False
324        True       True     True             False

[325 rows x 4 columns]

In [13]:
print(data['marginable'].nunique())
print(data['shortable'].nunique())
print(data['delayed'].nunique())
print(data['realtimeEntitled'].nunique())

1
1
1
1

None of these columns provide any valuable information

In [14]:
data.drop(['marginable', 'shortable', 'delayed', 'realtimeEntitled'], axis=1, inplace=True, )

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 79 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   stock                               325 non-null    object
 1   Bearish                             325 non-null    float64
 2   Neutral                             325 non-null    float64
 3   Bullish                             325 non-null    float64
 4   Total_Compound                      325 non-null    float64
 5   date                                325 non-null    datetime64[ns]
 6   bidPrice                            325 non-null    float64
 7   bidSize                             325 non-null    int64
 8   bidId                               325 non-null    object
 9   askPrice                            325 non-null    float64
 10  askSize                             325 non-null    int64
 11  askId                               325 non-null    object
 12  lastPrice                           325 non-null    float64
 13  lastSize                            325 non-null    int64
 14  lastId                              325 non-null    object
 15  openPrice                           325 non-null    float64
 16  highPrice                           325 non-null    float64
 17  lowPrice                            325 non-null    float64
 18  closePrice                          325 non-null    float64
 19  netChange                           325 non-null    float64
 20  totalVolume                         325 non-null    int64
 21  quoteTimeInLong                     325 non-null    float64
 22  tradeTimeInLong                     325 non-null    float64
 23  mark                                325 non-null    float64
 24  volatility                          325 non-null    float64
 25  digits                              325 non-null    int64
 26  52WkHigh                            325 non-null    float64
 27  52WkLow                             325 non-null    float64
 28  nAV                                 325 non-null    float64
 29  peRatio                             325 non-null    float64
 30  divAmount                           325 non-null    float64
 31  regularMarketLastPrice              325 non-null    float64
 32  regularMarketLastSize               325 non-null    int64
 33  regularMarketNetChange              325 non-null    float64
 34  regularMarketTradeTimeInLong        325 non-null    float64
 35  netPercentChangeInDouble            325 non-null    float64
 36  markChangeInDouble                  325 non-null    float64
 37  markPercentChangeInDouble           325 non-null    float64
 38  regularMarketPercentChangeInDouble  325 non-null    float64
 39  high52                              325 non-null    float64
 40  low52                               325 non-null    float64
 41  pegRatio                            325 non-null    float64
 42  pbRatio                             325 non-null    float64
 43  prRatio                             325 non-null    float64
 44  pcfRatio                            325 non-null    float64
 45  grossMarginTTM                      325 non-null    float64
 46  grossMarginMRQ                      325 non-null    float64
 47  netProfitMarginTTM                  325 non-null    float64
 48  netProfitMarginMRQ                  325 non-null    float64
 49  operatingMarginTTM                  325 non-null    float64
 50  operatingMarginMRQ                  325 non-null    float64
 51  returnOnEquity                      325 non-null    float64
 52  returnOnAssets                      325 non-null    float64
 53  returnOnInvestment                  325 non-null    float64
 54  quickRatio                          325 non-null    float64
 55  currentRatio                        325 non-null    float64
 56  interestCoverage                    325 non-null    float64
 57  totalDebtToCapital                  325 non-null    float64
 58  ltDebtToEquity                      325 non-null    float64
 59  totalDebtToEquity                   325 non-null    float64
 60  epsTTM                              325 non-null    float64
 61  epsChangePercentTTM                 325 non-null    float64
 62  epsChangeYear                       325 non-null    float64
 63  epsChange                           325 non-null    float64
 64  revChangeYear                       325 non-null    float64
 65  revChangeTTM                        325 non-null    float64
 66  revChangeIn                         325 non-null    float64
 67  sharesOutstanding                   325 non-null    float64
 68  marketCapFloat                      325 non-null    float64
 69  marketCap                           325 non-null    float64
 70  bookValuePerShare                   325 non-null    float64
 71  shortIntToFloat                     325 non-null    float64
 72  shortIntDayToCover                  325 non-null    float64
 73  divGrowthRate3Year                  325 non-null    float64
 74  dividendPayAmount                   325 non-null    float64
 75  beta                                325 non-null    float64
 76  vol1DayAvg                          325 non-null    float64
 77  vol10DayAvg                         325 non-null    float64
 78  vol3MonthAvg                        325 non-null    float64
dtypes: datetime64[ns](1), float64(68), int64(6), object(4)
memory usage: 200.7+ KB

In [16]:
#data = data.transpose(copy=True).drop_duplicates().transpose(copy=True)

## Null Values

In [17]:
data.isna().sum().sum()

0

We're good to go

## Columns with minimal unique values

Variables with a single value in the column will not likely provide any predictability

In [18]:
list(data.columns)

for column in list(data.columns):
    if data[column].nunique() <= 1:
        data.drop(column, axis=1, inplace=True)

# Bring in price data with TDAmeritrade API

In [37]:
api_key = "***REMOVED***"
stock = 'AAPL'
url = f'https://api.tdameritrade.com/v1/marketdata/{stock}/pricehistory?apikey={api_key}&periodType=year&period=1&frequencyType=daily&frequency=1'
raw_data = requests.get(url).json()

aapl_price_data = pd.json_normalize(raw_data, record_path=['candles'])
aapl_price_data

         open      high       low     close     volume       datetime
0     97.2650   99.9550   95.2575   95.4775  191649140  1594616400000
1     94.8400   97.2550   93.8775   97.0575  170989364  1594702800000
2     98.9900   99.2475   96.4900   97.7250  153197932  1594789200000
3     96.5625   97.4050   95.9050   96.5225  110577672  1594875600000
4     96.9875   97.1475   95.8400   96.3275   92186900  1594962000000
..        ...       ...       ...       ...        ...            ...
248  143.5350  144.8900  142.6600  144.5700  104911589  1625634000000
249  141.5800  144.0600  140.6650  143.2400  105575458  1625720400000
250  142.7500  145.6500  142.6522  145.1100   99890800  1625806800000
251  146.2100  146.3200  144.0000  144.5000   76299719  1626066000000
252  144.0300  147.4600  143.6300  145.6400  100827099  1626152400000

[253 rows x 6 columns]